server:
  port: 8082
feign:
  hystrix:
    enabled: false
  okhttp:
    enabled: true
sample:
  client:
    url: http://localhost:8082
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/EventEmPayments?currentSchema=eventempayment
    username: postgres
    password:
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect
