
server:
  port: 8081
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/EventEm?currentSchema=eventem
    username: postgres
    password:
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect
stripe:
  api_key: ${STRIPE_API_KEY}
jwt:
  secret: ENC(tnu8PU8CsBdAiYXVhQO5UH+E1e+qaWp91slbEohwVnqAA2hogzFitLOXtgU09syDynZScEH96U6l1y+xenozMQ==)
  expiration: 6000
jasypt:
  encryptor:
    password: password
